@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,100;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.hero-bg {
  background-image: url('./imgs/hero.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  color: #f9faf8;
}

.header-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@keyframes heisenbergLogo {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
}

header img {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  animation: heisenbergLogo 2s ease-in-out infinite alternate;
  -webkit-animation: heisenbergLogo 2s ease-in-out infinite alternate;
}

header h1 {
  margin: 10px;
}

.header-bg {
  background-color: #4c2872;
}

.logo-colorized {
  color: red;
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(rgb(255, 20, 10), rgb(255, 0, 12));
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 2px;
  transition: background-size 500ms ease-in-out;
}

.logo-colorized:hover {
  background-size: 100% 3px;
}
.nav-colorized {
  color: #f9faf8;
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(rgb(0, 255, 213), rgb(38, 255, 0));
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 2px;
  transition: background-size 500ms ease-in-out;
}

.nav-colorized:hover {
  background-size: 100% 3px;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style-type: none;
  margin: 0 2rem;
  cursor: pointer;
  transition: color 0.5s;
}

.hero-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  width: 90%;
  padding: 3rem 0;
  color: #f9faf8;
}

.hero-text-container {
  width: 30%;
  margin: 30px 0;
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.2);
}

.hero-text-container h1 {
  font-size: 48px;
  margin-bottom: 1rem;
  font-weight: 900;
}

.title-underline {
  text-decoration: none;
  background-image: linear-gradient(rgb(0, 255, 213), rgb(38, 255, 0));
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 2px;
  transition: background-size 500ms ease-in-out;
  cursor: text;
}

.title-underline:hover {
  background-size: 100% 3px;
}
.paragraph-underline {
  text-decoration: none;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 0.5px;
  transition: background-size 2s ease-in-out;
  color: #f9faf8;
  cursor: text;
  line-height: 150%;
  margin-bottom: 3rem;
}

.paragraph-underline:hover {
  background-size: 100% 3px;
  color: #f9faf8;
}

.hero-img-container img {
  width: 25rem;
  height: 15rem;
  border-radius: 10px;
}

.random-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.random-grid-container h2 {
  margin-top: 3rem;
}
.random-img-grid-container {
  display: grid;
  place-content: center;
  place-items: center;
  width: 90%;
  grid-gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 4rem auto;
}

.random-gridel-container {
  width: 100%;
  height: 100%;
}
.random-gridel-container p {
  padding: 0 3rem;
  font-weight: 100;
}
.random-gridel-container p span {
  font-weight: 500;
}
.random-gridel-container img {
  height: 300px;
  display: block;
  margin: 0 auto;
  width: 400px;
  border-radius: 20px;
  margin-bottom: 1rem;
  transition: transform 0.3s;
}

.random-gridel-container img:hover {
  transform: scale(1.05);
}
.quote-container {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #e5e7eb;
  align-items: center;
  justify-content: center;
}

.quote-elements {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5rem auto;
  align-items: flex-end;
}

.quote-elements p {
  font-style: italic;
  font-weight: 100;
  font-size: 36px;
}
.quote-elements h5 {
  font-weight: 500;
  font-size: 1rem;
}

.banner-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 2rem 0;
  background-color: #3882f6;
  border-radius: 1rem;
  color: #f9faf8;
}

.banner-elements-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-text {
  text-align: center;
  width: 100%;
}

.banner-text h4 {
  font-family: inherit;
  font-weight: bolder;
  margin-bottom: 10px;
}
.banner-text input {
  width: 30rem;
  height: 5rem;
  text-align: center;
  font-size: 36px;
}
.heisenberg-btn {
  padding: 10px;
  width: 9rem;
  background-color: #3772f6;
  border-radius: 5px;
  border: 1px solid #f9faf8;
  margin-top: 1rem;
  color: #f9faf8;
  transition: all 0.5s;
  text-align: center;
}

.heisenberg-btn:hover {
  background-color: #f9faf8;
  border: 1px solid #3772f6;
  color: #3772f6;
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  color: #f9faf8;
}

@media screen and (max-width: 1400px) {
  .random-img-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1045px) {
  .hero-text-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
@media screen and (max-width: 900px) {
  .random-img-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-text-container {
    width: 50%;
    margin: 30px 0;
  }
}
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .banner-text input {
    width: 20rem;
    height: 3rem;
    text-align: center;
    font-size: 24px;
  }
  header ul {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .hero-text-container {
    margin: 30px 0;
  }
}

@media screen and (max-width: 480px) {
  .hero-bg {
    max-height: 60vh;
  }
  .hero-container {
    margin-top: 0px;
    width: 70%;
    height: 100%;
  }
  .hero-text-container {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
  }
  .title-underline {
    font-size: 30px;
  }
  .paragraph-underline {
    font-size: 10px;
  }

  .random-gridel-container img {
    height: 250px;
    width: 300px;
  }

  .quote-elements {
    width: 70%;
  }
  .quote-elements p {
    font-style: italic;
    font-weight: 100;
    font-size: 24px;
  }
  .banner-text input {
    width: 10rem;
    height: 2rem;
    text-align: center;
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  .random-gridel-container img {
    height: 150px;
    width: 200px;
  }
}
